{% assign class_row_app = "row vcenter-desktop mt-3 justify-content-start" %}
{% assign class_col_app_logo = "col-3 my-auto" %}
{% assign class_col_app_text = "col appinfo-condensed" %}

{% assign app_logo_width = "36" %}

<!-- apps listing -->
<hr class='mt-2' />
<div class="container">
    <div class='{{ class_row_app }}' itemscope itemtype="schema.org/MobileApplication">
        <meta itemprop="operatingSystem" content="Android" />
        <meta itemprop="applicationCategory" content="Music" />
        <meta itemprop='sameAs' content='{{ site.shrutibox_app_link }}'>

        <div class="{{ class_col_app_logo }}">
            <a {{ site.new_tab }} href="{{ site.shrutibox_app_link }}">
                <img class='img mx-auto d-block' width="{{ app_logo_width }}" alt='Pocket Shruti Box app logo' src="/images/shrutibox_logo.png" />
            </a>
        </div>

        <div class="{{ class_col_app_text }}">
            <h3 class="app-title">
                <a {{ site.new_tab }} href="{{ site.shrutibox_app_link }}"><span itemprop="name">Pocket Shruti Box</span></a>
                <br />
                <small>Carnatic Tambura</small>
            </h3>
        </div>
    </div>


    <div class='{{ class_row_app }}'
               itemscope itemtype="schema.org/MobileApplication">
        <meta itemprop="operatingSystem" content="Android" />
        <meta itemprop="applicationCategory" content="Music" />
        <meta itemprop='sameAs' content='{{ site.sadhakam_app_link }}'>

        <div class="{{ class_col_app_logo }}">
            <a {{ site.new_tab }} href="{{ site.sadhakam_app_link }}">
                <img class='img mx-auto d-block' width="{{ app_logo_width }}" alt='sadhakam app logo' src="/images/sadhakam_logo.png" />
            </a>
        </div>

        <div class="{{ class_col_app_text }}">
            <h3 class="app-title">
                <a {{ site.new_tab }} href="{{ site.sadhakam_app_link }}"><span itemprop="name">Sadhakam</span></a>
                <br />
                <small>Carnatic Swara Gnanam Practice</small>
            </h3>
        </div>
    </div>

    <div class='{{ class_row_app }}' itemscope itemtype="schema.org/MobileApplication">
        <meta itemprop="operatingSystem" content="Android" />
        <meta itemprop="applicationCategory" content="Music" />
        <meta itemprop='sameAs' content='{{ site.shruti_app_link }}'>

        <div class="{{ class_col_app_logo }}">
            <a {{ site.new_tab }} href="{{ site.shruti_app_link }}">
                <img class='img mx-auto d-block' width="{{ app_logo_width }}" alt='shruti app logo' src="/images/shruti_logo.png" />
            </a>
        </div>

        <div class="{{ class_col_app_text }}">
            <h3 class="app-title">
                <a {{ site.new_tab }} href="{{ site.shruti_app_link }}"><span itemprop="name">Shruti</span></a>
                <br />
                <small>Carnatic Tuner</small>
            </h3>
        </div>
    </div>

</div><!-- apps listing container-->
