{% assign toggle = "data-toggle='collapse' data-target='#apps_listing_condensed' aria-controls='apps_listing_condensed' aria-expanded='false' aria-label='Toggle navigation'" %}

<nav id='bottomsheet' class='navbar fixed-bottom navbar-light' style='background-color: #e1f5fe;' {{ toggle }} >
    <div class='navbar-brand'>
        <img src='/images/kuyil_logo.svg' width='30' height='30' alt='kuyil-logo' />
    </div>
    <div class=''>Our Carnatic Apps</div>
    <button class='navbar-toggler' {{ toggle }} >
        <img src='/images/ic_elevator.svg' />
    </button>

    <div class='collapse navbar-collapse' id='apps_listing_condensed'>
        {% include apps_listing_condensed.html %}
    </div>
</nav>
