{% assign share-icon-size=32 %}
<div class='row align-items-center justify-content-start'>
    <div class='col-auto'>
        <b>Share</b>
    </div>
    <div class='col-auto px-2'>
        <a {{ site.new_tab }} href='https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}'>
            <img src='/images/ic_facebook-box.svg' width='{{ share-icon-size }}' height='{{ share-icon-size }}' />
        </a>
    </div>
    <div class='col-auto px-2'>
        <a {{ site.new_tab }} href='https://telegram.me/share/url?url={{ page.url | absolute_url }}'>
            <img src='/images/ic_telegram.svg' width='{{ share-icon-size }}' height='{{ share-icon-size }}' />
        </a>
    </div>
    <div class='col-auto px-2'>
        <a {{ site.new_tab }} href='https://api.whatsapp.com/send?text={{ page.title | uri_escape }} {{ page.url | absolute_url }}'>
            <img src='/images/ic_whatsapp.svg' width='{{ share-icon-size }}' height='{{ share-icon-size }}' />
        </a>
    </div>
    <div class='col-auto px-2'>
        <a {{ site.new_tab }} href='https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title | uri_escape }}'>
            <img src='/images/ic_twitter.svg' width='{{ share-icon-size }}' height='{{ share-icon-size }}' />
        </a>
    </div>
</div>

