<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="container">
    {% include navbar.html %}

    <!-- main content -->
    <div class="row justify-content-center">
      <div class="col-11 col-md-8">
        {{ content }}
        <hr />
        <em>
          <strong>Ananth Pattabiraman</strong> is a musician and co-founder of <a {{ site.new_tab }} href='https://kuyil.org'>Kuyil Carnatic Apps</a>, a startup dedicated to crafting apps for carnatic.
          You can checkout the apps below.
        </em>
        <hr />
      </div>
    </div>


  {% include footer.html %}
  {% assign toggle = "data-toggle='collapse' data-target='#apps' aria-controls='apps' aria-expanded='false' aria-label='Toggle navigation'" %}
  <nav id='bottomsheet' class='navbar fixed-bottom navbar-light bg-light' {{ toggle }} >
      <div class='navbar-brand'>
          <img src='/images/kuyil_logo.svg' width='30' height='30' alt='kuyil-logo' />
      </div>
      <div class='navbar-text'>Our Carnatic Apps</div>
      <button class='navbar-toggler' {{ toggle }} >
          <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='apps'>
          {% include apps_listing_condensed.html %}
      </div>
  </nav>

  {% include bootstrap-scripts.html %}
</div> <!-- container -->
</body>

</html>
