<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="container">
    {% include navbar.html %}

    <!-- main content -->
    <div class="row justify-content-center">
      <div class="col-11 col-md-8">
        {{ content }}
        <hr />
        <em>
          <strong>Ananth Pattabiraman</strong> is a musician and co-founder of <a {{ site.external_link }} href='https://kuyil.org'>Kuyil Carnatic Apps</a>, a startup dedicated to crafting apps for carnatic.
          You can checkout the apps below.
        </em>
        <hr />
      </div>
    </div>

  {% include footer.html %}
  {% include bootstrap-scripts.html %}
</div> <!-- container -->
</body>

</html>
