---
layout: default
---
<article>
  <header>
    <h1 class='post-title'>{{ page.title }}</h1>
    <div class='post-date'>
        {% if page.updated %}
        Updated on {{ page.updated | date: "%b %Y" }}
        {% else %}
        {{ page.date | date: "%b %-d, %Y" }}
        {% endif %}
        {% if page.author %} • {{ page.author }}{% elsif site.author %}• {{ site.author }}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
    </div>
  </header>
{{ content }}
</article>

{% include share-post.html %}
<hr />
{% include related_posts.html %}
